# Port numarası
PORT=3000

# MongoDB Bağlantı Bilgileri (Atlas > Connect > Drivers)
MONGODB_USER=
MONGODB_PASSWORD=
MONGODB_URL=cluster0.xxxxx.mongodb.net
MONGODB_DB=

# Brevo SMTP Ayarları
SMTP_HOST=smtp-relay.brevo.com
SMTP_PORT=587
SMTP_USER=
SMTP_PASSWORD=
SMTP_FROM=

# JWT ve Uygulama Alan Adı
JWT_SECRET=
APP_DOMAIN=http://localhost:3000/auth

# Cloudinary Ayarları
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
